[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "coxphSGD"]
	path = coxphSGD
	url = https://github.com/marcinkosinski/coxphsgd
